* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    font-family: "Open Sans", sans-serif;
}
.general-width {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Sans", sans-serif;
}
.copyright-footer{
    font-family: Poppins, sans-serif;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
}
/*------------------------header-------------------------*/


/*------------------------header-------------------------*/
/*---------------------Первая часть----------------------*/


/*---------------------Первая часть----------------------*/
/*---------------------Вторая часть----------------------*/


/*---------------------Вторая часть----------------------*/
/*---------------------Третья часть----------------------*/


/*---------------------Третья часть----------------------*/
/*---------------------Четвертая часть-------------------*/


/*---------------------Четвертая часть-------------------*/
/*-------------------------Footer------------------------*/


/*-------------------------Footer------------------------*/






