* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    font-family: "Open Sans", sans-serif;
}
.wrapper{
    max-width: 1440px;
    min-height: 100%;
    margin: 0 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.general-width {
    width: 80vw;
    margin-left: 10vw;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Sans", sans-serif;
}
.copyright-footer{
    font-family: Poppins, sans-serif;
    color: #fff;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
}


/*------------------------header-------------------------*/
.link:hover,
.link:focus {
    color: #ff4b32;
    transition: color 0.4s;
}

.header {
    position: absolute;
    left: 0;
    right: 0;

    margin-top: 38px;
}

.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3;

    color: #FF4B32;
}

.logo-icon {
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
    gap: 55px;
}

.menu-item {
    min-width: 85px;
    display: flex;
    justify-content: center;
}

.menu-link {
    font-size: 1.125em;
    line-height: 1.6;

    opacity: 0.6;
    color: #fff;
}

.menu-link:hover,
.menu-link:focus {
    font-weight: 700;

    opacity: 1;
    color: #FF4B32;

    transition: font-weight 0.25s,
    color 0.25s,
    opacity 0.25s;
}

/*----------HERO SECTION----------*/
.hero {
    max-height: 46vh;

    padding-top: 15vw;
    padding-bottom: 10vw;

    background-image: url(/img/image/bg-header.png);
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.hero-inner {
    display: flex;
    flex-direction: column;

}

.hero-content {
    max-width: 525px;
}

.hero-title {
    font-size: calc(2.4vw + 24px);
    /*font-size: calc(24px + (58 - 24) * ((100vw - 375px) / (1920 - 375)));*/
    /*font-size: 3.625em;*/
    font-weight: 500;
    line-height: 1.2;

    margin-bottom: 26px;

    color: #fff;
}

.hero-text {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.6;

    margin-bottom: 48px;

    opacity: 0.8;
    color: #fff;
}

.btn {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.6;

    cursor: pointer;

    padding: 16px 35px;

    border-radius: 5px;

    color: #fff;
    background-color: #FF4B32;
}

.btn:hover,
.btn:focus {
    text-shadow: 4px 3px 2px
    rgba(0,0,0,0.6);
    box-shadow: 7px 7px 25px 0
    rgba(0,0,0,0.75) inset;
    transition: text-shadow 0.4s,
    box-shadow 0.4s;
}

/*------------------------header-------------------------*/
/*---------------------Первая часть----------------------*/


/*---------------------Первая часть----------------------*/
/*---------------------Вторая часть----------------------*/


/*---------------------Вторая часть----------------------*/
/*---------------------Третья часть----------------------*/


/*---------------------Третья часть----------------------*/
/*---------------------Четвертая часть-------------------*/


/*---------------------Четвертая часть-------------------*/
/*-------------------------Footer------------------------*/


.footer {
    min-height: 40vh;

    background-color: #0D0402;
    background-image: url(/img/svg/bg-footer.svg);
}

.footer-inner {
    display: flex;
    flex-direction: column;
}

.footer-wrap {
    display: flex;
    justify-content: space-evenly;

    margin-bottom: 70px;
}

.content-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-top: 60px;
}

.text-footer {
    font-size: 1.125rem;
    line-height: 1.6;
    font-weight: 400;

    width: 250px;

    color: #fff;
}

.tel {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;

    color: #fff;
}

.tel:hover svg path,
.tel:focus svg path {
    fill: #ff4b32;

    transition: fill 0.4s;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    width: 165px;

    margin-top: 80px;
}

.footer-title {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;

    color: #fff;
}

.footer-link {
    font-size: 1.125rem;
    line-height: 1.5;

    color: #fff;
}

.footer-social {
    margin-top: 80px;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 30px;

    margin-top: 45px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background-color: #ff4b32;

    transition: background-color 0.4s;
}

.copyright {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

/*-------------------------Footer------------------------*/






