@media screen and (max-width:600px)
/*------------------------header-------------------------*/


/*------------------------header-------------------------*/
/*---------------------Первая часть----------------------*/


/*---------------------Первая часть----------------------*/
/*---------------------Вторая часть----------------------*/
.one{
    width:100vw;
    text-align: center;
}
.two{
    width:100vw;
    text-align: center;
    padding: 20px;
}

.images{
    display:flex;
    flex-direction: column;

}
.images>img{
    width:72vw;
}


/*---------------------Вторая часть----------------------*/
/*---------------------Третья часть----------------------*/


/*---------------------Третья часть----------------------*/
/*---------------------Четвертая часть-------------------*/


/*---------------------Четвертая часть-------------------*/
/*-------------------------Footer------------------------*/


/*-------------------------Footer------------------------*/