@media screen and (min-width: 601px) and ( max-width:1100px)
/*------------------------header-------------------------*/


/*------------------------header-------------------------*/
/*---------------------Первая часть----------------------*/


/*---------------------Первая часть----------------------*/
/*---------------------Вторая часть----------------------*/
{
    .h1-gallery{
        width:100vw;
        text-align: center;
    }
    .p-gallery{
       width:100vw;
        text-align: center;
        padding: 0 50px;
    }

    .images{
        display:flex;
        flex-direction: column;

    }
    .images>img{
        width:72vw;
    }
}

/*---------------------Вторая часть----------------------*/
/*---------------------Третья часть----------------------*/


/*---------------------Третья часть----------------------*/
/*---------------------Четвертая часть-------------------*/


/*---------------------Четвертая часть-------------------*/
/*-------------------------Footer------------------------*/


/*-------------------------Footer------------------------*/